<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanmei.dao.cos.CosCoursesDao">

    <resultMap id="base" type="com.sanmei.util.model.cos.CosCourses">
        <id column="id" property="id"></id>
        <result column="courseTypeId" property="courseTypeId"></result>
        <result column="courseNumber" property="courseNumber"></result>
        <result column="courseName" property="courseName"></result>
        <result column="teacher" property="teacher"></result>
        <result column="address" property="address"></result>
        <result column="startTime" property="startTime"></result>
        <result column="signTeacher" property="signTeacher"></result>
        <result column="signTel" property="signTel"></result>
        <result column="organizer" property="organizer"></result>
        <result column="delete_status" property="deleteStatus"></result>
        <result column="createTime" property="createTime"></result>
        <result column="updateTime" property="updateTime"></result>
    </resultMap>
    <select id="selectCosCourses" parameterType="com.sanmei.dao.cos.CosCoursesDao"
            resultMap="com.sanmei.dao.cos.CosCoursesDao">
        select * from cos_courses
    </select>

</mapper>