<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanmei.dao.cos.CosClassDao">

    <resultMap id="baseMap" type="com.sanmei.model.cos.CosClass">
        <id column="id" property="id"></id>
        <result column="keywords" property="keywords"></result>
        <result column="course_id" property="courseId"></result>
        <result column="course_name" property="courseName"></result>
        <result column="user_id" property="userId"></result>
        <result column="username" property="username"></result>
        <result column="nickname" property="nickname"></result>
        <result column="sex" property="sex"></result>
        <result column="role" property="role"></result>
        <result column="old_member" property="oldMember"></result>
        <result column="score" property="score"></result>
        <result column="delete_status" property="deleteStatus"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <select id="selectCosClass" parameterType="com.sanmei.model.cos.CosClass"
            resultMap="baseMap">
        select cla.id,cla.course_id,cos.course_name,cla.user_id,usr.username,
               usr.nickname,usr.sex,cla.role,cla.old_member,cla.score,
               cla.delete_status,cla.create_time,cla.update_time
        from cos_class cla
                 left join cos_courses cos on cla.course_id=cos.id
                 left join sys_user usr on cla.user_id=usr.id
        where cla.delete_status = 1 and cla.course_id= #{courseId}
        <if test="role !='' and role !=null">
          and cla.role=#{role}
        </if>
        <if test="keywords !='' and keywords !=null">
            and CONCAT(usr.username,'|',usr.nickname,'|',usr.sex) like CONCAT('%', #{keywords}, '%')
        </if>
    </select>

    <!--修改-->
    <update id="updateCosClass" parameterType="com.sanmei.model.cos.CosClass">
        update cos_class set
        user_id = #{userId},
        role = #{role},
        <if test="role !='学员'">
            old_member = '否'
        </if>
        <if test="role =='学员'">
            old_member = #{oldMember}
        </if>
        <where>
            id = #{id}
        </where>
    </update>

    <!--新增-->
    <insert id="addCosClass" parameterType="com.sanmei.model.cos.CosClass">
        insert into cos_class
        (course_id,
         user_id,
         role,
         old_member,
         score,
         delete_status)
        values
        (
            #{courseId},
            #{userId},
            #{role},
            #{oldMember},
            #{score},
            '1'
        )
    </insert>

    <!--逻辑删除-->
    <update id="deleteCosClass" parameterType="com.sanmei.model.cos.CosClass">
        update cos_class set
        delete_status = '2'
        <where>
            id = #{id}
        </where>
    </update>

    <select id="getUsers" resultType="com.sanmei.model.sysUser.SysUser">
        SELECT
            id          id,
            username    username,
            nickname    nickname,
            sex         sex
        FROM sys_user
        WHERE delete_status='1'
        order by id desc
    </select>

</mapper>