<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanmei.dao.cos.CosCourseTypeDao">

    <resultMap id="baseMap" type="com.sanmei.model.cos.CosCourseType">
        <id column="id" property="id"/>
        <result column="course_type" property="courseType"/>
        <result column="delete_status" property="deleteStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectCosCourseType" parameterType="com.sanmei.model.cos.CosCourseType" resultMap="baseMap">
        select * from cos_course_type
          where delete_status = 1
    </select>

    <insert id="addCosCourseType" parameterType="com.sanmei.model.cos.CosCourseType">
        insert into cos_course_type
        (course_type,delete_status) values (#{courseType},'1')
    </insert>

    <update id="updateCosCourseType" parameterType="com.sanmei.model.cos.CosCourseType">
        update cos_course_type set
        course_type = #{courseType}
        where id = #{id}
    </update>

    <update id="deleteCosCourseType" parameterType="com.sanmei.model.cos.CosCourseType">
        update cos_course_type set
            delete_status = '2'
        where id = #{id}
    </update>
</mapper>