<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanmei.dao.cos.CosCoursesDao">

    <resultMap id="baseMap" type="com.sanmei.model.cos.CosCourses">
        <id column="id" property="id"></id>
        <result column="course_type_id" property="courseTypeId"></result>
        <result column="course_number" property="courseNumber"></result>
        <result column="course_name" property="courseName"></result>
        <result column="teacher" property="teacher"></result>
        <result column="address" property="address"></result>
        <result column="start_time" property="startTime"></result>
        <result column="sign_teacher" property="signTeacher"></result>
        <result column="sign_tel" property="signTel"></result>
        <result column="organizer" property="organizer"></result>
        <result column="delete_status" property="deleteStatus"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>
    <select id="selectCosCourses" parameterType="com.sanmei.model.cos.CosCourses"
            resultMap="baseMap">
        SELECT a.*,b.* FROM cos_courses a
        LEFT JOIN cos_course_type b ON a.course_type_id = b.id
        <where>
            <trim>
                <choose>
                    <when test="id != null and id != '' ">
                        id = #{id} and
                    </when>
                    <otherwise>
                        <if test="courseNumber != null">
                            course_number = #{courseNumber} and
                        </if>
                        <if test="courseName != null">
                            course_name = #{courseName} and
                        </if>
                        <if test="teacher != null">
                            teacher = #{teacher} and
                        </if>
                    </otherwise>
                </choose>
            </trim>
        </where>
    </select>

    <!--修改&删除都-->
    <update id="updateCosCourses" parameterType="com.sanmei.model.cos.CosCourses">
        update cos_courses set
        <trim suffixOverrides="and">
            <if test="courseName != null">
                course_name = #{courseNumber} and
            </if>
            <if test="courseNumber != null">
                course_number = #{courseNumber} and
            </if>
            <if test="teacher != null">
                teacher = #{teacher} and
            </if>
            <if test="address != null">
                address = #{address} and
            </if>
            <if test="startTime != null">
                start_time = #{startTime} and
            </if>
            <if test="signTeacher != null ">
                sign_teacher = #{signTeacher} and
            </if>
            <if test="signTel != null">
                sign_tel = #{signTel} and
            </if>
            <if test="organizer != null">
                organizer = #{organizer} and
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus} and
            </if>
        </trim>
        <trim suffixOverrides="and">
            <where>
                <choose>
                    <when test="id != null">
                        id = #{id} and
                    </when>
                    <otherwise>
                        <if test="courseName != null">
                            course_name = #{courseNumber} and
                        </if>
                        <if test="courseNumber != null">
                            course_number = #{courseNumber} and
                        </if>
                    </otherwise>
                </choose>
            </where>
        </trim>
    </update>

    <insert id="saveCosCourses" parameterType="com.sanmei.model.cos.CosCourses">
        insert into cos_courses
        (course_type_id,
        course_number,
        course_name,
        teacher,
        address,
        start_time,
        sign_teacher,
        sign_tel,
        organizer,
        delete_status,
        create_time,
        update_time
        )
        values
        (
        select id from cos_course_type where course_type = #{courseType},
        #{courseNumber},
        #{courseName},
        #{teacher},
        #{address},
        #{startTime},
        #{signTeacher},
        #{signTel},
        #{organizer},
        #{deleteStatus},
        #{createTime},
        #{updateTime}
        )
    </insert>

</mapper>