<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanmei.dao.cos.CosSignUpDao">

    <resultMap id="baseMap" type="com.sanmei.model.cos.CosSignUp">
        <id column="id" property="id"></id>
        <result column="schedule_id" property="scheduleId"/>
        <result column="sign_time" property="signTime"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <select id="selectCosSignUp" parameterType="com.sanmei.model.cos.CosSignUp"
            resultMap="baseMap">
        select * from cos_signup a left join
        (select * from cos_schedule cs left join cos_course cc on cs.course_id = cc.id
        <where>
            <trim suffixOverrides="and">
                <choose>
                    <when test="courseId != null">
                        cc.id = #{courseId} and
                    </when>
                </choose>
                <if test="courseName != null">
                    cc.course_name = #{courseName} and
                </if>
                <if test="courseNumber != null">
                    cc.course_number = #{courseNumber} and
                </if>
            </trim>
        </where>
        ) b
        on a.schedule_id = b.id
        <where>

        </where>
    </select>

    <insert id="saveCosSignUp">
        insert into cos_signup
        (
        schedule_id,
        user_id,
        sign_time
        )
        values
        (
        #{scheduleId},
        #{userId},
        #{sign_time}
        )
    </insert>

</mapper>