<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanmei.dao.cos.CosSignInDao">

    <resultMap id="baseMap" type="com.sanmei.model.cos.CosSignIn">
        <id column="id" property="id"></id>
        <result column="data_control" property="dataControl"></result>
        <result column="course_id" property="courseId"></result>
        <result column="course_name" property="courseName"></result>
        <result column="schedule_id" property="scheduleId"></result>
        <result column="schedule_no" property="scheduleNo"></result>
        <result column="schedule_name" property="scheduleName"></result>
        <result column="schedule_date" property="scheduleDate"></result>

        <result column="user_id" property="signUser"></result>
        <result column="nickname" property="nickName"></result>
        <result column="phone" property="phone"></result>

        <result column="start_time" property="startTime"></result>
        <result column="sign_time" property="signTime"></result>
        <result column="sign_dev" property="signDev"></result>
        <result column="is_sign" property="isSign"></result>
        <result column="sign_state" property="signState"></result>
        <result column="sign_user_id" property="signUserId"></result>
        <result column="sign_user_name" property="signUserName"></result>

        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <!--查询签到信息-->
    <select id="selectCosSignIn" parameterType="com.sanmei.model.cos.CosSignIn"
            resultMap="baseMap">
        select  sch.course_id,cos.course_name,sch.id as schedule_id,sch.schedule_no,sch.schedule_name,sch.schedule_date,sch.last_date,
                sign.id,cls.user_id,usr.nickname,usr.phone,
                sch.start_time,date_format(sign.sign_time,'%T') as sign_time,sign.sign_dev,
                sign.is_sign,sign.sign_state,
                sign.sign_user_id,susr.nickname as sign_user_name,
                sign.update_time,sign.create_time
        from cos_class cls
                 left join cos_courses cos on cls.course_id=cos.id and cos.delete_status='1' and cls.delete_status='1'
                 left join cos_schedule sch on sch.course_id=cos.id and sch.delete_status='1'
                 left join sys_user usr on usr.id=cls.user_id
                 left join cos_sign_in sign on sch.id=sign.schedule_id and cls.user_id=sign.user_id
                 left join sys_user susr on susr.id=sign.sign_user_id
        where sch.id=#{tempScheduleId}
    </select>

    <!-- 签到是否存在-->
    <select id="queryExistSignIn" parameterType="com.sanmei.model.cos.CosSignIn"
            resultType="int">
        select count(0)
        from cos_sign_in
        WHERE schedule_id=#{scheduleId}
          AND user_id=#{userId};
    </select>

    <!--补签-->
    <insert id="addCosSignIn" parameterType="com.sanmei.model.cos.CosSignIn">
        insert into cos_sign_in (schedule_id,user_id,sign_time,is_sign,sign_state,sign_user_id)
        values (#{scheduleId},#{signUser},
                from_unixtime(unix_timestamp(concat(#{scheduleDate},' ',#{startTime})),'%Y-%m-%d %T'),
                '是','补签',#{userId})
    </insert>

    <!--手机签到-->
    <insert id="appCosSignIn" parameterType="com.sanmei.model.cos.CosSignIn">
        insert into cos_sign_in (schedule_id,user_id,sign_time,is_sign,sign_state,sign_user_id,sign_dev)
        values (#{tempScheduleId},#{signUser},
                #{signTime},#{isSign},#{signState},#{signUser},#{signDev})
    </insert>

    <!--获取所有课时-->
    <select id="getCourseSchedule" parameterType="com.sanmei.model.cos.CosSignIn" resultType="com.sanmei.model.cos.CosCourseSchedule">
        select id           id,
               schedule_no  scheduleNo,
               schedule_name scheduleName
        from cos_schedule
        where course_id=#{courseId}
          and delete_status='1'
    </select>

    <!--获取班内人员列表-->
    <select id="getClassUsers" parameterType="com.sanmei.model.cos.CosSignIn" resultType="com.sanmei.model.sysUser.SysUser">
        select a.user_id     id,
               b.username    userName,
               b.nickname    nickname
        from cos_class a
        left join sys_user b on a.user_id =b.id
        where a.course_id=#{courseId}
          and a.delete_status = '1'
          and a.role != '讲师'
    </select>

</mapper>