<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanmei.dao.user.UserDao">

    <select id="getMyInfo" resultType="com.sanmei.model.sysUser.SysUser">
        SELECT
            a.id          id,
            a.username    username,
            a.sex         sex,
            a.age         age,
            a.phone       phone,
            a.qq          qq,
            a.wechat      wechat,
            a.aera        aera,
            a.education   education,
            a.introducer  introducer,
            b.role_name    roleName
        FROM sys_user a left outer join sys_role b on a.role_id=b.id
        WHERE a.delete_status='1' and a.id=#{id}
        order by a.id desc
    </select>
    <!--修改密码-->
    <update id="changePsd" parameterType="com.sanmei.model.sysUser.SysUser">
        <if test="passWord !='' and passWord !=null">
            update sys_user set
            password = #{passWord}
            <where>
                id = #{id}
            </where>
        </if>
    </update>

    <!--修改我的信息-->
    <update id="updateMyInfo" parameterType="com.sanmei.model.sysUser.SysUser">
        UPDATE sys_user
        SET
        sex = #{sex}
        , age = #{age}
        , phone = #{phone}
        , education = #{education}
        , qq = #{qq}
        , wechat = #{wechat}
        , aera = #{aera}
        , introducer = #{introducer}
        WHERE id = #{id} and id != 10001
    </update>
</mapper>