<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanmei.dao.hwk.HwkMyHomeworkDao">

    <resultMap id="baseMap" type="com.sanmei.model.hwk.HwkMyHomework">
        <id column="id" property="id"></id>
        <result column="data_control" property="dataControl"></result>
        <result column="course_id" property="courseId"></result>
        <result column="course_name" property="courseName"></result>
        <result column="schedule_id" property="scheduleId"></result>
        <result column="schedule_no" property="scheduleNo"></result>
        <result column="schedule_name" property="scheduleName"></result>
        <result column="schedule_date" property="scheduleDate"></result>
        <result column="last_date" property="lastDate"></result>

        <result column="user_id" property="hwkUserId"></result>
        <result column="username" property="userName"></result>
        <result column="nickname" property="nickName"></result>

        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="homework_words" property="homeworkWords"></result>
        <result column="secret" property="secret"></result>
        <result column="comment" property="comment"></result>
        <result column="review_score" property="reviewScore"></result>
        <result column="review_time" property="reviewTime"></result>
        <result column="review_teacher_id" property="reviewTeacherId"></result>

        <result column="delete_status" property="deleteStatus"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>

        <result column="sign_score" property="signScore"></result>
        <result column="hwk_score" property="hwkScore"></result>
        <result column="time_score" property="timeScore"></result>
        <result column="act_review_score" property="actReviewScore"></result>
        <result column="scores" property="scores"></result>

    </resultMap>

    <!--学员上传心得列表  用于我的作业-->
    <select id="selectHwkMyHomework" parameterType="com.sanmei.model.hwk.HwkMyHomework"
            resultMap="baseMap">
        select  a.course_id,d.course_name,a.id as schedule_id,a.schedule_no,a.schedule_name,a.schedule_date,a.last_date,
        b.id,a.user_id,c.username,c.nickname,
        b.title,b.content,b.homework_words,b.secret,
        (CASE WHEN char_length(b.comment)>6 THEN concat(substring(b.comment,1,6),'...') ELSE b.comment END) as showComment,
        b.comment,b.review_score,b.review_time,b.review_teacher_id,(CASE WHEN b.review_teacher_id>'0' THEN '1' ELSE '0' END) as isReview,
        b.delete_status,b.update_time,b.create_time,e.scores
        from (select sch.course_id,sch.id,sch.schedule_no,sch.schedule_name,
        cls.user_id,sch.schedule_date,sch.last_date,sch.delete_status
        from cos_schedule sch,cos_class cls where sch.course_id=cls.course_id and cls.user_id=#{userId}) a
        left join hwk_homework b on a.id=b.schedule_id and a.user_id=b.user_id and b.delete_status='1'
        left join sys_user c on a.user_id=c.id
        left join cos_courses d on a.course_id=d.id
        left join v_schedule_score e on a.course_id=e.course_id and a.id=e.schedule_id and a.user_id=e.user_id
        where a.delete_status = 1 and a.course_id= #{courseId}
        <if test="keywords !='' and keywords !=null">
            and b.title like CONCAT('%', #{keywords}, '%')
        </if>
        order by schedule_no
    </select>

    <!-- 讲师评阅列表  用于作业评阅-->
    <select id="selectHwkRemarkHomework" parameterType="com.sanmei.model.hwk.HwkMyHomework"
            resultMap="baseMap">
        select  a.course_id,d.course_name,a.id as schedule_id,a.schedule_no,a.schedule_name,a.schedule_date,a.last_date,
        b.id,b.user_id,c.username,c.nickname,
        b.title,b.content,b.homework_words,b.secret,
        (CASE WHEN char_length(b.comment)>6 THEN concat(substring(b.comment,1,6),'...') ELSE b.comment END) as showComment,
        b.comment,b.review_score,b.review_time,b.review_teacher_id,
        b.delete_status,b.update_time,b.create_time
        from cos_schedule a
        right join hwk_homework b on a.id=b.schedule_id and b.delete_status='1'
        left join sys_user c on b.user_id=c.id
        left join cos_courses d on a.course_id=d.id
        where a.delete_status = 1 and a.course_id= #{courseId}
        <if test="tempUserId !='' and tempUserId !=null">
            and b.user_id=#{tempUserId}
        </if>
        <if test="tempScheduleId !='' and tempScheduleId !=null">
            and a.id=#{tempScheduleId}
        </if>
        <if test="keywords !='' and keywords !=null">
            and b.title like CONCAT('%', #{keywords}, '%')
        </if>
        order by a.schedule_no,b.update_time
    </select>

    <!-- 作业完成情况查询  用于显示课时学分-->
    <select id="selectHwkStatistics" parameterType="com.sanmei.model.hwk.HwkMyHomework"
            resultMap="baseMap">
        select a.course_id,b.course_name,a.schedule_id,c.schedule_no,c.schedule_name,a.user_id,d.username,
        a.hwk_score,a.time_score,a.review_score as act_review_score,a.sign_score,a.scores
        from v_schedule_score a
        left join cos_courses b on a.course_id=b.id
        left join cos_schedule c on a.schedule_id=c.id
        left join sys_user d on a.user_id = d.id
        where a.course_id= #{courseId}
        <if test="tempUserId !='' and tempUserId !=null">
            and a.user_id=#{tempUserId}
        </if>
        <if test="tempScheduleId !='' and tempScheduleId !=null">
            and a.schedule_id=#{tempScheduleId}
        </if>
        order by c.schedule_no
    </select>

    <!--预插入  用于后面的更新-->
    <update id="addHwkMyHomework" parameterType="com.sanmei.model.hwk.HwkMyHomework">
        insert into hwk_homework
        (schedule_id,user_id,
        title,content,homework_words,secret,
        delete_status,create_time,update_time)
        select
        #{scheduleId},#{userId},#{title},#{content},#{homeworkWords},#{secret},'1',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP
        FROM hwk_homework
        WHERE NOT EXISTS (SELECT id FROM hwk_homework WHERE schedule_id = #{scheduleId} and user_id=#{userId}) limit 1;
    </update>
    <!--上传心得  更新  依赖于上面的预插入-->
    <update id="uploadHwkMyHomework" parameterType="com.sanmei.model.hwk.HwkMyHomework">
        update hwk_homework
        set title=#{title},
            content=#{content},
            homework_words=#{homeworkWords},
            secret=#{secret},
            update_time=CURRENT_TIMESTAMP
        where schedule_id = #{scheduleId} and user_id=#{userId};
    </update>
    <!--评阅心得-->
    <update id="remarkHwkMyHomework" parameterType="com.sanmei.model.hwk.HwkMyHomework">
        update hwk_homework
        set comment=#{comment},
            <choose>
                <when test="reviewScore !='' and reviewScore !=null">
                    review_score=#{reviewScore},
                </when>
                <otherwise>
                    review_score='0',
                </otherwise>
            </choose>
            review_time=CURRENT_TIMESTAMP,
            review_teacher_id = #{reviewTeacherId}
        where id=#{id}
    </update>

    <!--获取所有课时-->
    <select id="getCourseSchedule" parameterType="com.sanmei.model.hwk.HwkMyHomework" resultType="com.sanmei.model.cos.CosCourseSchedule">
        select id           id,
               schedule_no  scheduleNo,
               schedule_name scheduleName
        from cos_schedule
        where course_id=#{courseId}
          and delete_status='1'
    </select>

    <!--获取班内人员列表-->
    <select id="getClassUsers" parameterType="com.sanmei.model.hwk.HwkMyHomework" resultType="com.sanmei.model.sysUser.SysUser">
        select a.user_id     id,
               b.username    userName,
               b.nickname    nickname
        from cos_class a
        left join sys_user b on a.user_id =b.id
        where a.course_id=#{courseId}
          and a.delete_status = '1'
          and a.role != '讲师'
    </select>

</mapper>